h1, h2 {
    color: $black;
}
.bg-primary {
    background-color: $brand-primary;
    h1, h2, h3, p, a,
    a:hover {
        color: $white;
    }
    .nav li a {
        white-space: nowrap;
        &:hover {
            background-color: rgba($white, .1);
        }
    }
}

.top-menu-title {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: rgba($white, .1);
    }
}

.title-decorated {
    font-family: "Open Sans",sans-serif;
    font-size: 29px;
    text-align:center;
    color: $grey;

    padding-top: 65px;
    margin-top:5px;
    margin-bottom: 35px;
}
.body-field {
    .field-name-body,
    .field-name-comment-body {
        h1 {
            font-size: 1.4em;
        }
        h2 {
            font-size: 1.3em;
        }
        h3 {
            font-size: 1.2em;
        }
    }
    img {
        float: left;
        padding-right: 2em;
        padding-bottom: 2em;
    }
}
.date-display-range {
    @extend .text-center;
    .date-display-start,
    .date-display-end {
        display: block;
    }
}