/* Colors */
$grey-dark:     #444444;
$grey:          #666666;
$grey-light:    #CCCCCC;
$grey-lighter:  #F0F0F0;
$black:         #333333;
$white:         #FFFFFF;

$green:         #8FCD1F;
$green-light:	lighten($green, 10);
$green-dark:    darken($green, 10);

$blue:          #0165C3;
$blue-light:    lighten($blue, 10);
$blue-dark:     darken($blue, 10);

$red:           #91594D;
$red-light:     lighten($red, 10);
$red-dark:      darken($red, 10);

$brown:         #634C40;

/* For Debates */
$status-red:    #fe2e2e;
$status-green:  #01df3a;
$status-grey:   $grey-light;

/* For Landvoc and Terms */
$label-geo:     #428B3F;
$label-category:#42B7CA;
$label-theme:   #42B7CA;
$label-concept: #428BCA;

/* Bootstrap overrides */
$brand-primary:         $green-dark;
$brand-secondary:       $brown;
$link-color:            $green-dark;
$text-color:            $black;
$headings-color:        $green;

$font-family-serif:             "Merriweather", serif;
$font-family-sans-serif:        "Open Sans", sans-serif;

$headings-font-family:          $font-family-sans-serif;
$font-family-base:              $font-family-serif !default;
