.page-book-countries {
    #country-navigation,
    #block-system-main {
        background-color: $grey-lighter;
        color: $grey-dark;
    }
    #country-navigation {
        @extend .clearfix;
        header {
            margin-top: -20px;
            h2 {
                margin-top: 0;
                font-size: 2em;
            }
        }
    }
    // In a country narrative page
    #block-system-main {
        @extend .row;
        font-family: $font-family-serif;
        .view-landbook-countries {
            @extend .col-sm-offset-1;
            @extend .col-sm-10;
            @extend .col-md-offset-2;
            @extend .col-md-8;
        }
        // Country page 'header' (country name + flag) is shown by
        // country navigation block in the highlight section
        .node-landbook-country {
            color: $grey-dark;
            font-size: 1.2em;
            header h2 {
                display: none;
            }
        }
    }
    .main-container section .block-title {
        @extend .text-center;
    }
}

#block-media,
#block-compare,
#lgaf,
#block-views-country-content-partners,
#content-related-links {
    background-color: $grey-lighter;
    @extend .clearfix;
    @extend .row;
}
#content-related-links {
    padding: 2em 0;
    span {
        display: block;
        font-weight: bold;
    }
}
#block-landbook-disclaimer-block {
    background-color: $green;
    color: $white;
    @extend .clearfix;
    @extend .row;
    p {
        text-align: justify;
        padding: 1em;
        @extend .col-md-offset-1;
        @extend .col-md-10;
    }
}

.view.grid {
    @extend .text-center;
    .view-content>div {
        @extend .col-sm-4;
        @extend .col-md-3;
        @media (min-width: $screen-sm) and (max-width: $screen-md) {
            .col-sm-4:nth-child(3n+1) { clear: left; }
        }
        @media (min-width: $screen-md) {
            .col-md-3:nth-child(4n+1) { clear: left; }
        }
    }
}

.view-landbook-countries {
    .flag-icon {
        font-size: 2em;
        display: block;
        margin: 1em auto .5em;
    }
}
