.field-name-field-status {
    @extend .text-center;
    .field-item {
        font-size: 1.4em;
        @extend .btn;
        @extend .btn-primary;
    }
    margin-bottom: 1em;
}

.node-debate.node-teaser,
.node-debate.node-listing,
.search-results .node.node-debate {
    //.field-name-body,
    .group-topics-regions,
    .field-name-field-facilitators {
        @extend .pull-right;
        @extend .col-md-6;
    }
    .field-name-field-facilitators {
        .field-item {
            &:not(:first-of-type):before {
                content: ', ';
            }
            display: inline;
        }
    }
}

.node-type-debate .node {
    .field-name-field-image,
    .group-details,
    .field-name-field-facilitators {
        @extend .col-sm-4;
        clear: left;
        .field-label {
            @extend .text-center;
            font-size: 2em;
        }
    }
}