.node-type-landlibrary-resource {
    .field-group-fieldset.panel {
        .panel-heading {
            background-color: $red;
            color: $white;
            font-weight: bold;
            font-size: .9em;
        }
    }
}