.node-landlibrary-resource,
.node-type-landlibrary-resource {
    .field-group-fieldset.panel {
        .panel-heading {
            background-color: $red;
            color: $white;
            font-weight: bold;
            font-size: .9em;
        }
    }
    &.node-teaser {
        .field-name-field-doc-creation-date {
            display: inline-block;
        }
    }
}
