.node-landlibrary-resource {
    .field-group-fieldset.panel {
        .panel-heading {
            color: $red;
            background-color: $white;
            font-weight: bold;
            //font-size: 1em;
            padding: 0;
            text-transform: uppercase;
            border-bottom: 2px solid $red;
        }
    }
    &.node-teaser {
        .field-name-field-doc-creation-date {
            display: inline-block;
        }
    }
}

.node-type-landlibrary-resource {
    @media (min-width: $screen-md-min) {
        .group-meta,
        .group-editors-pub {
            float: right;
            clear: right;
        }
    }
}
