// Views that displays unformatted lists in a grid way
// Some automatic float clear breakpoints
.search-results,
.view {
    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        .col-xs-6:nth-child(2n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
        .col-sm-3:nth-child(4n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-lg) {
        .col-lg-2:nth-child(6n+1) {
            clear: left;
        }
    }
    .search-result,
    .views-row {
        border-bottom: 1px dotted $grey;
        &:last-of-type {
            border-bottom: 0;
        }
    }
}
.view-organizations-overview {
    .view-content {
        @extend .clearfix;
    }
    .attachment {
        @extend .text-center;
    }
}

// Views with exposed filters
.view-country-content,
.view-by-providers {
    .view-filters {
        @extend .col-sm-3;
//        @extend .col-md-4;
        @extend .pull-right;
    }
    .view-content {
        @extend .col-sm-9;
//        @extend .col-md-8;
    }
}
