// Views that displays unformatted lists in a grid way
// Some automatic float clear breakpoints
.view {
    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        .col-xs-6:nth-child(2n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
        .col-sm-3:nth-child(4n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-lg) {
        .col-lg-2:nth-child(6n+1) {
            clear: left;
        }
    }
    .views-row {
        border-bottom: 1px dotted $grey;
        &:last-of-type {
            border-bottom: 0;
        }
    }
}