/* .block-menu { */
/*     h2 { */
/*         margin: 0; */
/*     } */
/* } */

body>header.navbar {
    margin: 0 !important;
    height: 70px;
    border: 0;
    @include border-radius(0);
    border-bottom: 5px solid $brand-secondary;
    .navbar-brand {
        @extend .sr-only;
    }
}

.main-container {
    &>header {
        @extend .row;
        .block-menu {
            //position: relative;
            @extend .col-xs-12;
            min-height: 150px;
            //padding-bottom: 40px;
            ul.menu {
                //position: absolute;
                //bottom: 0;
                //height: 40px;
                //width: 100%;
                @extend .row;
                @extend .text-center;
                background-color: $brown;
                border-top: 1px solid $white;
                a {
                    color: $white;
                    text-transform: uppercase;
                }
                li.leaf {
                    @extend .col-xs-4;
                    @extend .col-sm-3;
                    @extend .col-md-2;
                    //@extend .col-lg-1;
                }
            }
        }
    }
}

body>footer {
    @extend .row;
    .block {
        @extend .col-sm-4;
    }
    .block-menu {
        @extend .col-sm-8;
        &>ul.menu {
            @extend .row;
            &>li {
                @extend .col-sm-3;
            }
        }
    }
}