
.node {
//.node-teaser {
    // Header
    &>header>.submitted {
        @extend .sr-only;
    }

    // Body / main content
    >fieldset.panel {
        border: 0;
        @include box-shadow(none);
        .panel-body {
            padding: 0;
        }
    }

    // Node image
    .field-name-field-doc-thumb,
    &:not(.node-organization):not(.node-teaser) .field-name-field-image {
        padding-right: 2em;
        padding-bottom: 2em;
        img {
            @include box-shadow(5px 5px 10px 0 rgba($black, 0.4));
        }
    }

    footer {
        @extend .clearfix;
        .links {
            @extend .pull-right;
            font-style: italic;
        }
    }
}

.search-result>article>,
.views-row>.node-teaser>,
#block-system-main>.node> {
    // Display settings for node fieldgroup to emulate 'responsive columns'
    // Warning: order in which fieldgroups (meta and editors-pub)
    //  are displayed (node: manage display) matters!

    //.group-topics-regions,
    .field-name-field-doc-thumb,
    .field-name-field-image,
    .group-meta,
    .group-access,
    .group-editors-pub {
        @extend .col-xs-4;
        @extend .col-md-3;
    }

    //.group-topics-regions,
    .group-meta,
    .group-editors-pub {
        clear: left;
    }
    @media (min-width: $screen-md-min) {        
        .group-meta,
        .group-editors-pub {
            float: right;
            clear: right;
        }
    }
}

.node-teaser {
    // For organization that appears inside another teaser
    .node-organization {
        float: right;
    }

    // Organization teasers
    // do not show title
    &.node-organization {
        footer .links,
        header h2 {
            @extend .sr-only;
        }
    }
}

.field-collection-view {
    margin: 0;
    padding: 0 0 1em 0;
    .field-item,
    .field-collection-item {
        padding: 0;
    }
    .field-name-field-info-title {
        @extend .h2;
        margin: .5em 0;
    }
}

.field-type-link-field {
    display: inline-block;
}

#comments {
    .indented {
        border-left: .5em solid $grey-light;
        margin: 1em;
        padding: 0 1em;
        .comment:first-of-type {
            border-top: 1px dotted $grey;
        }
    }
    &>h2,
    &>form {
        background-color: $grey-lighter;
        @extend .col-sm-12;
    /*     @extend .col-sm-offset-1; */
    /*     @extend .col-md-8; */
    /*     @extend .col-md-offset-2; */
    /*     @extend .col-lg-6; */
    /*     @extend .col-lg-offset-2; */
    }
    &>h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1em;
    }
    .comment {
        @extend .row;
        padding: 1em;
        border-top: 1px dotted $grey;
        &:first-of-type {
            border-top: 0;
        }
        h1 {
            font-size: 1.4em;
        }
        &>h3 {
            @extend .col-sm-12;
            @extend .col-md-8;
        }
        .field-name-comment-body {
            img {
                float: left;
                padding: 2em;
                padding-left: 0;
            }
        }
        .user-picture {
            @extend .pull-right;
            @extend .col-sm-4;
            text-align: right;
            img {
                display: inline;
                height: 100px;
            }
            //@extend .col-md-4;
        }
        .submitted {
            clear: right;
            text-align: right;
            @extend .pull-right;
            margin-top: 20px;
            @extend .col-sm-8;
            @extend .col-md-4;
            font-size: .9em;
        }
        .content {
            @extend .col-sm-12;
            float: none;
        }
        .links {
            @extend .pull-right;
        }
    }
}
