
.node,
.node-teaser {
    // Header
    .submitted {
        @extend .sr-only;
    }

    // Body / main content
    .field-group-fieldset.panel {
        border: 0;
        @include box-shadow(none);
        .panel-body {
            padding: 0;
        }
    }

    // Node image
    .field-name-field-doc-thumb,
    .field-name-field-image {
        padding-right: 2em;
        padding-bottom: 2em;
        img {
            @include box-shadow(5px 5px 10px 0 rgba($black, 0.4));
        }
    }

    footer {
        .links {
            @extend .pull-right;
            font-style: italic;
        }
    }
}

#block-system-main>.node-form {
    // Display settings for node fieldgroup to emulate 'responsive columns'
    // Warning: order in which fieldgroups (meta and editors-pub)
    //  are displayed (node: manage display) matters!
    .group-topics-regions,
    .group-meta,
    .group-access,
    .group-editors-pub {
        @extend .col-xs-4;
        @extend .col-md-3;
    }
}

.views-row>.node-teaser>,
#block-system-main>.node> {
    // Display settings for node fieldgroup to emulate 'responsive columns'
    // Warning: order in which fieldgroups (meta and editors-pub)
    //  are displayed (node: manage display) matters!
    .group-topics-regions,
    .field-name-field-doc-thumb,
    .field-name-field-image,
    .group-meta,
    .group-access,
    .group-editors-pub {
        @extend .col-xs-4;
        @extend .col-md-3;
    }
}

#block-system-main>.node> {
    .group-meta,
    .group-editors-pub,
    .group-topics-regions {
        clear: left;
    }
    @media (min-width: $screen-md-min) {        
        .group-meta,
        .group-editors-pub {
            float: right;
            clear: right;
        }
    }
}

.node-teaser {
    // For organization that appears inside another teaser
    &.node-organization .field-type-image img {
        @include box-shadow(0);
    }

    // Organization teasers
    // do not show title
    &.node-organization {
        footer .links,
        header h2 {
            @extend .sr-only;
        }
    }
}
