.node-type-organization .node.node-organization {
    .field-name-field-image,
    .group-details {
        @extend .col-sm-4;
        clear: left;
    }
    .field-name-field-user {
        .field-item {
            &:not(:first-of-type):before {
                content: ', ';
            }
            display: inline;
        }
    }
}

//
// For Teasers and Search results
//
.node-teaser {
    // Organization teasers
    // do not show title
    &.node-organization {
        header h2 {
            @extend .sr-only;
        }
        .field {
            width: 100%;
            text-align: center;
        }
        // Image (logo) width should be 100%
        // (organization teasers only show the logo)
        .field-name-field-image {
            line-height: 180px;
            @media (min-width: $screen-lg) {
                line-height: 140px;
            }
            img.img-responsive {
                height: initial;
                display: inline
            }
        }
    }
}

.search-result .node,
.node-listing, .node-teaser {
    &.node-organization {
        .field-name-field-acronym {
            @extend .col-xs-6;
            @extend .col-sm-4;
            @extend .col-md-3;
            a:hover, a {
                color: $grey-light;
                font-weight: bold;
            }
        }
    }
    // For organization that appears inside another teaser
    .node-organization {
        float: right;
    }
}