.entity-profile2 {
    &>h2 {
        @extend .sr-only;
    }
    .content {
        .field-name-field-image {
            display: none;
        }
        .field-name-field-firstname,
        .field-name-field-lastname,
        .field-name-field-title {
            float: left;
            padding-right: .2em;
        }
    }
}
.profile {
    h3 {
        display: none;//@extend .sr-only;
    }
    img {
        height: 100px;
    }
    border-top: 1px dotted $grey;
    &:first-of-type {
        border-top: 0;
    }
}
